.text-box {
  position: relative;
  width: 100%;
  padding: 20px;
  @include borders;

  .wrap {
    padding: 20px 20px 40px;
    position: relative;
    @include textBackground;

    .title {
      font-size: 21px;
      padding: 10px;
    }

    p {
      font-size: 16px;
      font-weight: normal !important;
      text-align: justify;
    }
  }
}

.mobile {
  width: 100%;
  height: 100%;
  padding: 0 25px;
}

.services-slider-nav {

  .about-left,
  .about-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(#fff, .0);
    border: 1px solid #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
    outline: none;
    z-index: 101;

    &:hover {
      background: rgba(#fff, .3);
    }

    &.hide {
      opacity: 0;
    }
  }

  .about-left {
    left: 20px !important;
  }

  .about-right {
    right: 20px !important;
  }
}